<h1> Welcome back, <%=@user.username%></h1>

<% if @user.projects.empty? %>
  You currently have no projects, please click <%= link_to "here", new_user_project_path(@user)%> to add one!
<% else %>
  <%= project_list(@user) %>
<% end %>


<%= link_to "Log Out", logout_path, method: 'delete' %>
