<h2> <%= @user.username %>'s projects</h2>

<% if @user.projects.empty? %>
  You currently have no projects, please click <%= link_to "here", new_user_project_path(@user)%> to add one!
<% else %>
  <ul>
    <% @user.projects.each do |project| %>
      <li><%= link_to project.name, user_project_path(@user, project) %></li>
    <% end %>
  </ul>
<% end %>

<% if correct_user?(@user) %>
  <p><%= link_to "Add new project", new_user_project_path(@user)%></p>
<% end %>
