<center>
  <h2>Welcome to Prive!</h2>
  <h3>An exercise in helping eachother grow!</h3>

  <p>The goal of Prive is to grow our projects together as a community. We want you to be able to branch out and connect with other artists, individuals and creatives to cultivate relationships and expand the reach of your projects through eachother. You can browse other user projects and if you see something you like, click the "back this project" button! This will not only add the project to your pool of backed projects, but also give you access to that users contact information. Share social media tags, discuss how you can help eachother achieve success and reach your goals as a community! You can browse projects by clicking "Community's Projects" in the navbar, but if you want to interact, Click <%= link_to "here", new_user_path %> to sign up, or if you're a new user, just <%= link_to "Sign In!", login_path %>
<br>
or
<br>

</optgroup>
    <%= link_to('Log in via GitHub!', '/auth/github') %>

</center>
