<center>
  <h1 class="home-page-font">Projekt</h1>
  <h3>An exercise in helping eachother grow!</h3>

  <%= link_to "Sign Up!", new_user_path %>
  <br>
  <%= link_to "Sign In!", new_sessions_path %>
</center>
