<h1>All Projects!</h1>

<table>
  <tr>
    <th>Project Name</th>
    <th>Project Creator</th>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <th><%= link_to project.name, user_project_path(project.user_id, project) %></th>
      <th><%= link_to project.user.username, user_path(project.user) %> </th>
    </tr>
  <% end %>
</table>

<a href=# id="test">TestTime</a>
