/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .home-page-font {
   font-family: fantasy;
 }

 .label{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}
.actionButtons {
    position:fixed;
    bottom:25px;
    left:0;
    right:0;
    height:30px;
}
.float-left{
    float: left;
}
table, th, td {
    border: 1px solid black;
}

.category-item{
  display: none
}

html{
  background: url(1584.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
